@{
    ViewData["Title"] = "About Us";
    Layout = "_LayoutFemale";
}

<h1>About us</h1>
<h2>We are very cool, thank you very much!</h2>

<img class="img-fluid" src="https://www.dreamhost.com/blog/wp-content/uploads/2020/11/The-Perfect-About-Us-Page-Feature-750x499.jpg" alt="" />
