
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Contact Us</h1>
<h2>Welcome to the english channel officer!!</h2>

<img class="img-fluid" src="https://cdn.searchenginejournal.com/wp-content/uploads/2020/08/contact-us-pages-sej-5f63d4f927b04-1520x800.png" alt="" />
