body {
    background-color: #9ee9ff;
    background-image: url(https://media.istockphoto.com/id/1250380933/photo/top-down-aerial-view-of-chicago-downtown-urban-grid-with-park.jpg?s=1024x1024&w=is&k=20&c=b6JnCCQgvWVxZgMpUwdUn1AzJtK6-xQX31GRUvPK2W8=);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}
